<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">Mussum Ipsum, cacilds vidis litro abertis. Não sou faixa preta cumpadi, sou preto inteiris, inteiris.Manduma pindureta quium dia nois paga.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.</p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
        <li><i class="fa-solid fa-phone"></i>(00)9999-9090</li>
        <li><i class="fa-brands fa-whatsapp"></i>(00)90909-9999</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
